@page "/Customize"
@inject NavigationManager NavigationManager
@inject StateContainer StateContainer
<link href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" rel="stylesheet">

<div style="margin:auto; text-align:center; width:80%">
  <div>
    <img style="width:100%" src="@StateContainer.itemToCustomize.image" alt="">
  </div>
  <div style="text-align: left;background-color:rgb(255, 255, 255); border: 2px solid black;">
    <p>
      <b><h2>Description:</h2> </b> @StateContainer.itemToCustomize.description <br><br>
      <b><h2>Calories: </h2></b>@StateContainer.itemToCustomize.Calories <br>
    </p>
  </div>

  <div style="text-align: center;width:100%; max-height:400px;overflow-y:scroll; border: 2px solid black;">
    <table id="ingredients-table" class="table" style="border-collapse: none ;width:100%;">
      <thead>
        <tr>
          <th style="padding: 10px; border: 1px solid black;">Ingredients</th>
          <th style="padding: 10px; border: 1px solid black;">Quantity</th>
          <th style="padding: 10px; border: 1px solid black;">Action</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var ingredient in Ingredients){
    <tr style="@(ingredient.IsDisabled ? "opacity: 0.5;" : "")">
        <td style="padding: 10px; border: 1px solid black; width:33%">@ingredient.Name</td>
        <td style="padding: 10px; border: 1px solid black;width:33%">
            <button class="minus-btn" style="padding: 5px; @(ingredient.IsDisabled ? "display:none;" : "")" @onclick="() => DecreaseQuantity(ingredient)">-</button>
            <span class="quantity" style="padding: 0 5px;">@(ingredient.IsDisabled ? "Removed" : ingredient.Quantity)</span>
            <button class="plus-btn" style="padding: 5px; @(ingredient.IsDisabled ? "display:none;" : "")" @onclick="() => IncreaseQuantity(ingredient)">+</button>
        </td>
        <td style="padding: 10px; border: 1px solid black;width:33%">
            @if (ingredient.IsDisabled)
            {
                <button class="add-btn" style="padding: 5px;" @onclick="() => AddIngredient(ingredient)">Add</button>
            }
            else
            {
                <button class="delete-btn" style="padding: 5px;" @onclick="() => DeleteIngredient(ingredient)">Delete</button>
            }
        </td>
    </tr>
}
      </tbody>
    </table>
  </div>

<MudButton Style="margin-top:5%; margin-right: 50px; background-color: #EABC45; width: auto; height: 50px; font-size: large; color: black">Make it a Combo</MudButton>
<MudButton Style="margin-top:5%; margin-left: 50px; background-color: #EABC45; width: auto; height: 50px; font-size: large; color: black">Add to Order</MudButton>
</div>

@code {
  [Parameter]
  public int ID { get; set; }

  public List<Ingredient>? Ingredients => StateContainer.itemToCustomize.Ingredients;

  // Method to decrease the quantity of an ingredient
  private void DecreaseQuantity(Ingredient ingredient)
  {
    if (ingredient.Quantity == "Extra")
    {
      ingredient.Quantity = "Regular";
    }
    else if (ingredient.Quantity == "Regular")
    {
      ingredient.Quantity = "Less";
    }
  }

  // Method to increase the quantity of an ingredient
  private void IncreaseQuantity(Ingredient ingredient)
  {
    if (ingredient.Quantity == "Less")
    {
      ingredient.Quantity = "Regular";
    }
    else if (ingredient.Quantity == "Regular")
    {
      ingredient.Quantity = "Extra";
    }
  }

  // Method to delete an ingredient
  private void DeleteIngredient(Ingredient ingredient)
  {
    ingredient.IsDisabled = true;
  }

  // Method to add an ingredient
  private void AddIngredient(Ingredient ingredient)
  {
    ingredient.IsDisabled = false;
  }



  
}
