@page "/fetchdata"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@using MyApplication.Shared
<link href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" rel="stylesheet">


<PageTitle>Main Features</PageTitle>

<MudText Typo="Typo.h4" GutterBottom="true" Color="Color.Warning" Align="Align.Center"><b><u>New Featured Items</u></b></MudText>
<MudCarousel Class="mx-auto my-5" Style="width: 90%; height:300px;" ShowArrows="true" ShowBullets="true" EnableSwipeGesture="true" AutoCycle="false" TData="object" BulletsColor="Color.Warning">
    <MudCarouselItem Transition="@Transition.Slide">
        <div class="d-flex" style="height:80%">
            <MudImage Src="resources/burgerbanner.png" Elevation="25" Fluid="true" Class="d-block mx-auto rounded-lg" @onclick='()=> NavigationManager.NavigateTo("browse/burgers")'/>
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="@Transition.Slide">
        <div class="d-flex" style="height:80%">
            <MudImage Src="resources/chickenfriesbanner.png" Elevation="25" Fluid="true" Class="d-block mx-auto rounded-lg" @onclick='()=> NavigationManager.NavigateTo("browse/sides")'/>
        </div>
    </MudCarouselItem>
</MudCarousel>

<MudText Typo="Typo.h4" GutterBottom="true" Color="Color.Warning" Align="Align.Center"><b><u>Value Picks</u></b></MudText>
<MudCarousel Class="mx-auto my-5" Style="width: 90%; height:300px;" ShowArrows="true" ShowBullets="true" EnableSwipeGesture="true" AutoCycle="false" TData="object" BulletsColor="Color.Warning">
    <MudCarouselItem Transition="@Transition.Slide">
        <div class="d-flex" style="height:80%">
            <MudImage Src="resources/valuebanner.png" Elevation="25" Fluid="true" Class="d-block mx-auto rounded-lg" @onclick='()=> NavigationManager.NavigateTo("browse/sides")'/>
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="@Transition.Slide">
        <div class="d-flex" style="height:80%">
            <MudImage Src="resources/nuggets4pcbanner.png" Elevation="25" Fluid="true" Class="d-block mx-auto rounded-lg" @onclick='()=> NavigationManager.NavigateTo("browse/sides")'/>
        </div>
    </MudCarouselItem>
</MudCarousel>

<MudText Typo="Typo.h4" GutterBottom="true" Color="Color.Warning" Align="Align.Center"><b><u>Treat Yourself</u></b></MudText>
<MudCarousel Class="mx-auto my-5" Style="width: 90%; height:300px;" ShowArrows="true" ShowBullets="true" EnableSwipeGesture="true" AutoCycle="false" TData="object" BulletsColor="Color.Warning">
    <MudCarouselItem Transition="@Transition.Slide">
        <div class="d-flex" style="height:80%">
            <MudImage Src="resources/milkshakebanner.png" Elevation="25" Fluid="true" Class="d-block mx-auto rounded-lg" @onclick='()=> NavigationManager.NavigateTo("browse/drinks")'/>
        </div>
    </MudCarouselItem>
</MudCarousel>

@code {
    private Transition transition = Transition.Slide;
}
