@inherits LayoutComponentBase

@inject NavigationManager NavigationManager

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="0">
        <MudIconButton Icon="@Icons.Material.Filled.ShoppingBasket" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
            <h3>View Order</h3>
            
        <MudIconButton Icon="@Icons.Material.Filled.Home" Color="Color.Inherit" Edge="Edge.Start" OnClick='() => NavigationManager.NavigateTo("fetchdata")' Class="pa-4 ml-16 mr-8"/>
        <MudIconButton Icon="@Icons.Material.Filled.Fastfood" Color="Color.Inherit" Edge="Edge.Start" OnClick='() => NavigationManager.NavigateTo("browse")'  Class="pa-4 ml-16 mr-8"/>
        <MudIconButton Icon="@Icons.Material.Filled.LocalDrink" Color="Color.Inherit" Edge="Edge.Start" OnClick='() => NavigationManager.NavigateTo("counter")'  Class="pa-4 ml-16 mr-8"/>
        <MudIconButton Icon="@Icons.Material.Filled.Icecream" Color="Color.Inherit" Edge="Edge.Start" OnClick='() => NavigationManager.NavigateTo("counter")'  Class="pa-4 ml-16 mr-8"/>
        <MudSpacer />
        <MudIconButton Icon="@Icons.Custom.Brands.MudBlazor" Color="Color.Inherit" Link="https://mudblazor.com/" Target="_blank" />
        <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Link="https://github.com/MudBlazor/MudBlazor/" Target="_blank" />
    </MudAppBar>


    <MudDrawerContainer Class="mud-height-full">
    <MudDrawer @bind-Open="_drawerOpen" ClipMode="@DrawerClipMode.Docked" Elevation="1"  Anchor="@Anchor.Left" Width="650px">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">Your Order</MudText>
        </MudDrawerHeader>
        <NavMenu />
    </MudDrawer>
    </MudDrawerContainer>

    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Large" Class="pt-4">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code {
    bool _drawerOpen = false;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}