@using Microsoft.AspNetCore.Components
@using MudBlazor
@inject StateContainer StateContainer
@inject IDialogService DialogService

@* If multiple customers on the order, we create the dyanmic screen with drag/drop and collapsable menu features *@
@if (@StateContainer._customers.Count > 1)
{
<MudDropContainer T="DropItem" Items="@StateContainer._items" ItemsSelector="@((item, dropzone) => item.Customer == dropzone)" ItemDropped="ItemUpdated" Elevation="16">
    <ChildContent>
        <MudPaper MinHeight="500px" Class="d-flex flex-column flex-1">
            <MudSimpleTable>
                <thead>
                    <tr>
                        <th Class="table-content">Patron</th>
                        <th Class="table-content">Menu Items</th>
                        <th Class="table-content">Quantity</th>
                        <th Class="table-content-price">Price</th>
                    </tr>
                </thead>
            </MudSimpleTable>
            <MudList Class="mudlist-multi-patron-mode">
                @foreach (var customer in @StateContainer._customers) 
                {
                    @* <MudDivider DividerType="DividerType.Middle" Class="my-6"/> *@
                        <MudListItem Icon="@Icons.Material.Filled.EmojiEmotions"  Color="Color.Success" Text="@customer.Name" InitiallyExpanded="true" Class="customer-name">
                            <NestedList>
                                <MudDropZone T="DropItem" Identifier="@customer.Name" Class="nested-item">
                                    <MudList>
                                        <MudListItem Dense="true" Class="pl-8" />
                                    </MudList>
                                </MudDropZone>
                            </NestedList>
                        </MudListItem>
                }
            </MudList>
            <MudSimpleTable>
                <thead>
                    <tr>
                        <th style="width: 25%;"><MudTextField @bind-Value="_newCustomerName" Label="Add Patron For Large Orders" /></th>
                        <th style="width: 25%;"><MudButton Color="Color.Tertiary" OnClick="AddNewCustomer" Variant="Variant.Filled">Add Patron</MudButton></th>
                        <th style="width: 25%; text-align: right;"></th>
                        <th style="text-align: right;" Class="total-price">
                            <MudText style="font-weight: bold; font-size: 24px;">Total: $@string.Format("{0:0.00}", GetGrandTotal())</MudText>
                            <MudButton Color="Color.Tertiary" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Send" @onclick="PaymentPrompt">Pay Now</MudButton>
                        </th>
                    </tr>
                </thead>
            </MudSimpleTable>
        </MudPaper>
    </ChildContent>
    <ItemRenderer>
        <MudListItem>
            <MudListItemText>
                <div class="item-info">
                    <span class="table-content">
                        <MudIconButton @onclick="ConfirmRemoveItem" Icon="@Icons.Material.Filled.DeleteForever" Variant="Variant.Filled" Color="Color.Secondary" />
                    </span>
                    <span class="item-name">
                        <MudTooltip ShowOnClick="true" ShowOnHover="false" ShowOnFocus="false">
                            <ChildContent>
                                <MudIconButton Icon="@Icons.Material.Filled.ImageSearch"  Variant="Variant.Filled" Color="Color.Tertiary" />
                            </ChildContent>
                            <TooltipContent>
                                <div class="d-flex flex-column pa-1">
                                    <MudImage Fluid="true" Src="@item_image" Width="100" Class="d-block mx-auto rounded-lg"/>
                                </div>
                            </TooltipContent>
                        </MudTooltip>
                        &emsp; &emsp; &emsp; &emsp; &emsp; 
                        @context.menuItem.name 
                    </span>
                    <span class="item-quantity">
                    <MudStack Row="true">
                        <MudIconButton  Variant="Variant.Filled" Icon="@Icons.Material.Filled.Remove" Color="Color.Secondary" Size="Size.Small" OnClick="@(() => UpdateQuantity(context, context.Quantity > 0 ? context.Quantity - 1 : context.Quantity))" />
                        <MudText style="font-weight: bold; ">@context.Quantity</MudText>
                        <MudIconButton  Variant="Variant.Filled" Icon="@Icons.Material.Filled.Add" Color="Color.Tertiary" Size="Size.Small" OnClick="@(() => UpdateQuantity(context, context.Quantity + 1))" />
                    </MudStack>
                    </span>
                    <span class="item-price">$@string.Format("{0:0.00}", context.menuItem.price)</span>
                </div>
            </MudListItemText>
        </MudListItem>
        <MudDivider/>
    </ItemRenderer>
</MudDropContainer>
}





@* Loads the Layout Assuming only one customer is in the order *@
else
{
<MudDropContainer T="DropItem" Items="@StateContainer._items" ItemsSelector="@((item, dropzone) => item.Customer == dropzone)" ItemDropped="ItemUpdated" Elevation="16">
    <ChildContent>
        <MudPaper MinHeight="500px" Class="d-flex flex-column flex-1">
            <MudSimpleTable>
                <thead>
                    <tr>
                        <th Class="table-content">Patron</th>
                        <th Class="table-content">Menu Items</th>
                        <th Class="table-content">Quantity</th>
                        <th Class="table-content-price">Price</th>
                    </tr>
                </thead>
            </MudSimpleTable>
            <MudList Class="mudlist-single-patron-mode">
                @foreach (var customer in @StateContainer._customers) 
                {
                    <MudListItem Icon="@Icons.Material.Filled.EmojiEmotions"  Color="Color.Success" Text="@customer.Name" InitiallyExpanded="true" Class="customer-name">
                        <NestedList>
                            <MudDropZone T="DropItem" Identifier="@customer.Name" Class="nested-item">
                                <MudList>
                                    <MudListItem Dense="true" Class="pl-8"/>
                                </MudList>
                            </MudDropZone>
                        </NestedList>
                    </MudListItem>
                }
                @* <MudPopover Open="@_isOrderImageOpen" AnchorOrigin="Origin.TopCenter" TransformOrigin="Origin.TopCenter">
                    <div class="d-flex flex-column pa-1">
                        <MudImage Fluid="true" Src="@item_image" Width="100" Class="d-block mx-auto rounded-lg"/>
                    </div>
                </MudPopover> *@
            </MudList>
            <MudSimpleTable>
                <thead>
                    <tr>
                        <th style="width: 25%;"><MudTextField @bind-Value="_newCustomerName" Label="Add Patron For Large Orders" /></th>
                        <th style="width: 25%;"><MudButton Color="Color.Tertiary" OnClick="AddNewCustomer" Variant="Variant.Filled">Add Patron</MudButton></th>
                        <th style="width: 25%; text-align: right;"></th>
                        <th style="text-align: right;" class="total-price">
                            <MudText style="font-weight: bold; font-size: 24px;">Total: $@string.Format("{0:0.00}", GetGrandTotal())</MudText>
                            <MudButton Color="Color.Tertiary" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Send" @onclick="PaymentPrompt">Pay Now</MudButton>
                        </th>
                    </tr>
                </thead>
            </MudSimpleTable>
        </MudPaper>
    </ChildContent>
    <ItemRenderer>
        <MudListItem  @onmouseover="() => ToggleOpen(context.menuItem.image)" @onmouseleave="@ToggleClose">
            <MudListItemText>
                <div class="item-info">
                    <span class="table-content">
                        <MudIconButton @onclick="ConfirmRemoveItem" Icon="@Icons.Material.Filled.DeleteForever" Variant="Variant.Filled" Color="Color.Secondary" />
                    </span>
                    <span class="item-name">
                        <MudTooltip ShowOnClick="true" ShowOnHover="false" ShowOnFocus="false">
                            <ChildContent>
                                <MudIconButton Icon="@Icons.Material.Filled.ImageSearch"  Variant="Variant.Filled" Color="Color.Tertiary" />
                            </ChildContent>
                            <TooltipContent>
                                <div class="d-flex flex-column pa-1">
                                    <MudImage Fluid="true" Src="@item_image" Width="100" Class="d-block mx-auto rounded-lg"/>
                                </div>
                            </TooltipContent>
                        </MudTooltip>
                        &emsp; &emsp; &emsp; &emsp; &emsp; 
                        @context.menuItem.name 
                    </span>
                    <span class="item-quantity">
                    <MudStack Row="true">
                        <MudIconButton  Variant="Variant.Filled" Icon="@Icons.Material.Filled.Remove" Color="Color.Secondary" Size="Size.Small" OnClick="@(() => UpdateQuantity(context, context.Quantity > 0 ? context.Quantity - 1 : context.Quantity))" />
                        <MudText style="font-weight: bold; ">@context.Quantity</MudText>
                        <MudIconButton  Variant="Variant.Filled" Icon="@Icons.Material.Filled.Add" Color="Color.Tertiary" Size="Size.Small" OnClick="@(() => UpdateQuantity(context, context.Quantity + 1))" />
                    </MudStack>
                    </span>
                    <span class="item-price">$@string.Format("{0:0.00}", context.menuItem.price)</span>
                </div>
            </MudListItemText>
        </MudListItem>
        <MudDivider/>
    </ItemRenderer>
</MudDropContainer>
}



    








@code {

private void PaymentPrompt()
{
    var options = new DialogOptions { CloseOnEscapeKey = true };
    DialogService.Show<PaymentPrompt>("Review your order and choose payment options:", new DialogParameters
    {
        { "OrderItems", StateContainer._items },
        { "GrandTotal", GetGrandTotal() }
    }, options);
}




    private bool _isOrderImageOpen = false;
    private string item_image = "";

    private double mouseX = 0;
    private double mouseY = 0;
    private void ReportPointerLocation(MouseEventArgs e)
    {
        mouseX = e.ScreenX;
        mouseY = e.ScreenY;
    }

    private void ToggleOpen(string imgPath) {
        _isOrderImageOpen = true;
        item_image = imgPath;
    }

    private void ToggleClose() {
        _isOrderImageOpen = false;
    }

    private void ConfirmRemoveItem()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };
        DialogService.Show<DialogConfirmRemoveItem>("Confirm Remove Dialog", options);
    }

    private void ItemUpdated(MudItemDropInfo<DropItem> dropItem)
    {
        dropItem.Item.Customer = dropItem.DropzoneIdentifier;
    }

    private decimal GetGrandTotal()
    {
        return @StateContainer._items.Sum(item => item.Quantity * item.menuItem.price);
    }
    public string GetTotal()
    {
        return GetGrandTotal().ToString();
    }

    private string _newCustomerName;

    private void AddNewCustomer()
    {
        if (_newCustomerName != null) {
            StateContainer.AddCustomer(new Customer { Name = _newCustomerName, InitiallyExpanded = false });
            StateHasChanged();
        } else {
            StateContainer.AddCustomer(new Customer { Name = "Patron " + (@StateContainer._customers.Count + 1).ToString(), InitiallyExpanded = false });
        }
    }

    private void UpdateQuantity(DropItem item, int newQuantity)
    {
        item.Quantity = newQuantity;
        StateHasChanged();
    }
}

<style>
    .table-content {
        width: 25%; 
        font-weight: bold;
    }
    .table-content-price {
        width: 25%; 
        font-weight: bold; 
        text-align: right;
    }
    .mudlist-multi-patron-mode {
        height: 650px; 
        overflow-y: auto;
    }
    .mudlist-single-patron-mode {
        height: 400px; 
        overflow-y: auto;
    }

    .item-info {
        display: flex;
        justify-content: space-between;
    }

    .customer-name {
        font-weight: bold;

    }

    .item-name,
    .item-quantity{
        width: 25%;
        font-weight: bold;
    }
    .item-price {
        width: 25%;
        font-weight: bold;
        text-align: right;
    }

    .total-price{ 
        font-size: xx-large;
        font-weight: bold;
    }

    .nested-item {
        background-color: #ffffff;
    }

    .quantity-field {
        width: 10%;
    }
</style>
